<!-- start page title -->
<app-pagetitle title="Paiements" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

<div class="row">
  <div class="col-12">
    <div class="">
      <div class="">
        <div class="d-flex justify-content-between">
          <div class="" [formGroup]="searchForm">
            <label class="d-inline-flex align-items-center" for="">Recherche:</label>
            <input type="text" formControlName="search" (change)="loadPaiements()" name="searchTerm"
              class="form-control form-control-sm" aria-controls="tickets-table">
          </div>
          <div class="d-flex justify-content-end gap-1 mb-4">
            <div class="">
              <button (click)="openModal(content, null, 'add')" class="btn btn-primary">
                <i class="fa fa-plus"></i> Paiement</button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table align-middle datatable dt-responsive table-check nowrap"
            style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
            <thead>
              <tr class="bg-transparent">
                <th>Description</th>
                <th>Montant</th>
                <th>Statut</th>
                <th>Date</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              @for (item of paiements; track $index) {
                <tr>
                  <td class="text-body">
                    {{ item.description }}
                  </td>
                  <td class="text-body">
                    {{ item.montant }}
                  </td>
                  <td class="text-body">
                    {{ item.statut }}
                  </td>
                  <td class="text-body">
                    {{ item.date }}
                  </td>
                  <td>
                    <div class="text-center w-sm">
                      <a [routerLink]="['/detail-paiement/', item.id]">
                        <i class="bx bx-show me-1 text-info font-size-18"
                        style="cursor: pointer;" ngbTooltip="Voir" placement="top" aria-hidden="true"></i>
                      </a>
                      <i (click)="openModal(content, item, 'update')" class="bx bx-edit me-1 text-warning font-size-18"
                        style="cursor: pointer;" ngbTooltip="Modifier" placement="top" aria-hidden="true"></i>
                      <i (click)="openModal(confirmation, item, 'delete')"
                        class="bx bx-trash me-1 text-danger font-size-18 ml-2" style="cursor: pointer;"
                        ngbTooltip="Supprimer" placement="top" aria-hidden="true"></i>                   
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="row justify-content-md-between align-items-md-center mt-2">
          <div class="col-sm-12 col-md-3">
            <div class="dataTables_info mb-2" aria-live="polite">
              Affichage de {{(page - 1) * pageSize + 1}} à
              {{(page - 1) * pageSize + pageSize > totalItems ? totalItems : (page - 1) * pageSize + pageSize}} sur
              {{totalItems}} Paiements
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="dataTables_length" id="tickets-table_length">
              <label class="d-inline-flex align-items-center">Afficher
                <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize" [(ngModel)]="pageSize"
                (input)="itemPagination($event)" class="form-control form-control-sm mx-2"  class="form-control form-control-sm mx-2">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="text-md-right float-md-end pagination-rounded">
              <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="loadPaiements()">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content role="document" let-modal>
  <div class="modal-header border-bottom-0">
    <h5 *ngIf="actionModal == 'add'" class="modal-title mt-0">Ajouter Paiement</h5>
    <h5 *ngIf="actionModal == 'update'" class="modal-title mt-0">Modifier Paiement</h5>
    <button type="button" class="btn-close" (click)="closeModal('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="savePaiement()" [formGroup]="editForm">
      <div class="row">
        <div class="col-6 mb-3">
          <label class="control-label mb-0" for="">Marque</label>
          <input class="form-control" placeholder="Entrer le marque" type="text" name="marque" formControlName="marque"
            [ngClass]="{'is-invalid': submitted && form['marque'].errors}" />
          <div *ngIf="submitted && form['marque'].errors">
            <div class="text-danger" style="font-size: 12px;">Le marque est obligatoire
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2" *ngIf="errorMessage">
        <div class="text-danger" style="font-size: 12px;">{{errorMessage}}</div>
      </div>
      <div *ngIf="errorMessage500" class="mb-2">
        <div class="text-danger" style="font-size: 12px;">Vous ne pouvez pas accéder à cette ressource,
          veuillez contacter votre administrateur</div>
      </div>
      <div class="row">
        <div class="text-end col-md-6">
          <button (click)="closeModal('Cross click')" type="reset" class="btn btn-danger" id="btn-save-event">
            Annuler
          </button>
        </div>
        <div class="text-start col-md-6">
          <button onclick="refreshPage()" type="submit"
            class="btn btn-primary button-envoyer px-1 rounded-2 d-flex justify-content-center">
            <span *ngIf="!isSubmitted">Enregistrer</span>
            <div *ngIf="isSubmitted && editForm.valid" class="spinner-border text-white m-1" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #confirmation role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Confirmation</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="closeModal('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <p>
          <span *ngIf="actionModal == 'delete'">Veuillez confirmer la suppression de: </span>
          <span *ngIf="actionModal == 'activer'">Veuillez confirmer l'activation de: </span>
          <span *ngIf="actionModal == 'desactiver'">Veuillez confirmer la désactivation de:
          </span>
          <span class="text-sonatel fw-bold ml-2"></span>
        </p>
      </div>
    </div>
    <div class="mb-2" *ngIf="errorMessage">
      <div class="text-danger" style="font-size: 12px;">{{errorMessage}}</div>
    </div>
    <div *ngIf="errorMessage500" class="mb-2">
      <div class="text-danger" style="font-size: 12px;">Vous ne pouvez pas acceder a cette ressource
      </div>
    </div>
    <div class="row">
      <div class="text-end col-md-6">
        <button (click)="closeModal('ok')" class="btn btn-dark" id="btn-save-event">
          Annuler
        </button>
      </div>
      <div class="text-start col-md-6">
        <button (click)="action()" type="submit" class="btn btn-primary" id="btn-save-event">
          Confirmer
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!-- end page title -->


<!-- end page title -->
