<!-- start page title -->
<app-pagetitle title="Dashboard" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->
<div class="row">
    <div class="col-xl-3 col-md-6">
        <!-- card -->
    <div class="card card-h-100">
        <!-- card body -->
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-6">
                    <span class="text-muted mb-3 lh-1 d-block">Nombre Parkings</span>
                    <h4 class="mb-3">
                        <span [countUp]="13" class="counter-value"></span>
                    </h4>
                </div>

                <!-- <div class="col-6">
                    <apx-chart class="apex-charts" dir="ltr" [series]="walletlineChart.series" [chart]="walletlineChart.chart" [colors]="walletlineChart.colors" [stroke]="walletlineChart.stroke" [tooltip]="walletlineChart.tooltip">
                    </apx-chart>
                </div> -->
            </div>
            <!-- <div class="text-nowrap">
                <span class="badge bg-success-subtle text-success">+$20.9k</span>
                <span class="ms-1 text-muted font-size-13">Since last week</span>
            </div> -->
        </div><!-- end card body -->
    </div><!-- end card --> 
    </div>
    
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block">Nombre de Places Occupées</span>
                        <h4 class="mb-3">
                            <span [countUp]="63" class="counter-value"></span>
                        </h4>
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success"> 18%</span>
                    <span class="ms-1 text-muted font-size-13">Taux d'occupation</span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col-->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Total Place Libres</span>
                        <h4 class="mb-3">
                            <span [countUp]="368" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-6">
                        <apx-chart class="apex-charts" dir="ltr" [series]="investedlineChart.series" [chart]="investedlineChart.chart" [colors]="investedlineChart.colors" [stroke]="investedlineChart.stroke" [tooltip]="investedlineChart.tooltip">
                        </apx-chart>
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+ 14%</span>
                    <span class="ms-1 text-muted font-size-13">Semaine dernière</span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Chiffre d'affaire génèré</span>
                        <h4 class="mb-3">
                            <span [countUp]="320200" [options]="option" class="counter-value"></span><br>FCFA
                        </h4>
                    </div>
                    <div class="col-6">
                        <apx-chart class="apex-charts" dir="ltr" [series]="profitlineChart.series" [chart]="profitlineChart.chart" [colors]="profitlineChart.colors" [stroke]="profitlineChart.stroke" [tooltip]="profitlineChart.tooltip">
                        </apx-chart>
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Semaine dernière</span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
 </div>
<!-- end page title -->